<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>my weblog</title>

	<!-- $Id$ -->

	</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->

	<div id="page">	
	
		<div id="header">
			<div id="headerimg">
				<h1><a href="###BLOG_HOME###">###BLOG_TITLE###</a></h1>
				<div class="description">###BLOG_TAGLINE###</div>
			</div>
		</div>
		<hr />

		<div id="content" class="narrowcolumn">			
			
			###POSTS_LIST###				
		
		</div>

		<div id="sidebar">
			<ul>				
				<!-- Author information is disabled per default. Uncomment and fill in your details if you want to use it.
				<li><h2>Author</h2>
				<p>A little something about you, the author. Nothing lengthy, just an overview.</p>
				</li>
				-->
				
				###PAGENAV###
				
				###ARCHIVES###
				
				###CATEGORIES###				

				###BLOG_BLOGROLL###
					
				<li><h2>Meta</h2>
					<ul>
						<li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
						<li><a href="http://www.typo3.com/" title="Powered by TYPO3 get content right.">TYPO3</a></li>
					</ul>
				</li>
				
				###BLOG_CONTENT_RIGHT###
							
			</ul>
		</div>



		<hr />
		<div id="footer">
			<p>
				my weblog is proudly powered by 
				<a href="http://www.typo3.com">TYPO3</a> and
				<a href="http://www.ingo-renner.com/?id=11" title="timtab development">timtab</a>
					
<!--
				<br /><a href="feed:http://www.wordpress.loc/wp-rss2.php">Entries (RSS)</a>
				and <a href="feed:http://www.wordpress.loc/wp-commentsrss2.php">Comments (RSS)</a>.
-->		
			</p>
	
		</div>
	</div>

<!-- Gorgeous design by Michael Heilemann - http://binarybonsai.com/kubrick/ -->

<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>