/**
 * CSS for Advanced Frontend Editing (feeditadvanced)
 *
 * These styles are used for the lightbox.
 * Also see fe_edit_advanced.css for more lightbox styling.
 */
#ux-lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 15000;
	text-align: center;
	line-height: 0;

	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#ux-lightbox-wrapper {
	position: relative;
	padding: 0 10px 10px 10px;
	margin: 0 auto;

	width: 250px;
	height: 250px;

	background-color: black;
	
	/*
	@todo Enable opacity in a way that the lightbox border is opaque but the editing contents are not.
	opacity: 0.7;
	*/

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ux-lightbox-header {
	padding: 10px 0;
	text-align: left;
}

#ux-lightbox-header h3 {
	color: white;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#ux-lightbox-loading {
	position: relative;
	top: 15px;
	text-align: center;
	width: 100%;
	height: 45px;
	background: url(../icons/spinner.gif) no-repeat center 15%;
}

#ux-lightbox-overlay {
	position: fixed;
	border: 0;
	top: 0;
	left: 0;
	z-index: 14999;
	width: 100%;
	height: 500px;
	background-color: #000;
	padding: 0;
	margin: 0;
}

#ux-lightbox-shim {
	z-index: 89;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

#ux-lightbox-msg {
	padding: 15px 5px 5px;
	text-align: center;
	line-height: 1.3;
	overflow: hidden;
	width: 172px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 14px;
}

#ux-lightbox-msg * {
	color: white;
	text-align: center;
}
