
<h1>Main Template</h1>
<!-- ###MAIN_TEMPLATE### begin -->
###INCLUDES###
<!-- this allows csshover3-source.htc to be put at top of page -->
<div id="###CSSPREFIX###-bodyattach"></div>
<div id="###CSSPREFIX###-container">
	###MENU_BAR###
	###HIDDEN_FORM###
</div>
<!-- ###MAIN_TEMPLATE### end -->



<h1>Template, to show the button "Activate editing" when editing is enabled but not active</h1>
<!-- ###MENU_CLOSED### begin -->
<div id="###CSSPREFIX###-menuBar" class="###CSSPREFIX###-closedMenu closedMenu">
	<a class="###CSSPREFIX###-smallButton" href="#" onclick="document.TSFE_ADMIN_PANEL_Form.elements['TSFE_ADMIN_PANEL[menuOpen]'].value = 1; document.TSFE_ADMIN_PANEL_Form.submit(); return false;" title="###OPEN_EDIT_MODE_TOOLTIP###">
		<span class="feEditAdvanced-smallButtonText">###OPEN_EDIT_MODE###</span>
	</a>
</div>
<!-- ###MENU_CLOSED### end -->



<h1>Template, holding the menubar</h1>
<!-- ###MENU_OPENED### begin -->
<div id="###CSSPREFIX###-menuBar">
	<div class="###CSSPREFIX###-firstRow">
		<div id="###CSSPREFIX###-pageEditToolbar" class="###CSSPREFIX###-menuToolbar">###PAGE_EDIT_PANEL###</div>
		<!-- ###SECTIONS_FIRST_ROW### begin -->
			<!-- ###SECTION### begin -->
				<div id="###SECTION_CSSID###" class="###CSSPREFIX###-menuToolbar" ###SECTION_INLINECSS###>###SECTION_ITEMS###</div>
			<!-- ###SECTION### end -->
			<!-- ###SINGLE_ITEM### begin -->###ITEM_SEPARATOR######ITEM_NAME###<!-- ###SINGLE_ITEM### end -->
			<!-- ###SEPARATOR### begin --><span class="###CSSPREFIX###-separator separatorBar"></span><!-- ###SEPARATOR### end -->
				
		<!-- ###SECTIONS_FIRST_ROW### end -->
		
		<!-- ###USERLISTING### begin -->
			<dl class="###CSSPREFIX###-menuUserlist"><dt>###USER_LABEL###</dt><dd>###USER_LIST###</dd></dl>
		<!-- ###USERLISTING### end -->
	</div>
	<div class="###CSSPREFIX###-secondRow">
	<!-- ###SECTIONS_SECOND_ROW### begin -->
		Templates from first Row are used!
	<!-- ###SECTIONS_SECOND_ROW### end-->
		<div id="###CSSPREFIX###-logo">
			<a href="http://www.typo3.com/">
				<img src="###EXTPATH###/res/icons/typo3logo_mini_transparent.gif" alt="" />
			</a>
		</div>
	</div>
</div>
<!-- ###MENU_OPENED### end -->



<h1>Default edit-panel</h1>
<!-- ###EDITPANEL### begin -->
<div class="feEditAdvanced-allWrapper###ALLWRAPPER_CLASS###" id="###EDITPANEL_ID###">
	<!-- ###HOVERFORM### start -->
	<form name="###FORM_NAME###" id="###FORM_NAME###" action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###">
		###FORM_HIDDENFIELDS###
		###FORM_CONTENT###	
		<div class="feEditAdvanced-editPanelDiv" style="display: none;">
			###EDITPANEL_ACTIONS###
		</div>
	</form>	
	<!-- ###HOVERFORM### end -->
	<div class="feEditAdvanced-contentWrapper###CWRAPPER_CLASS###" ###CWRAPPER_EXTRA###>
				
		<!-- ###EDITFORM### start -->
		<form accept-charset="UTF-8" name="###EDITFORM_NAME###" id="###EDITFORM_NAME###" action="###EDITFORM_URL###" method="post" enctype="###FORM_ENCTYPE###" onsubmit="###FORM_ONSUBMIT###">
			<input type="hidden" name="cod_hack" value="&#153;">
			###EDITFORM_HIDDENFIELDS###
			###EDITFORM_CONTENT###
		</form>
		<!-- ###EDITFORM### end -->
		###CONTENT_ELEMENT###
	</div>
</div>
<!-- ###EDITPANEL### end-->



<h1>Default editpanel Action</h1>
<!-- ###EDITPANEL_ACTION### start -->
<input type="button" class="feEditAdvanced-editButton ###ACTION_CLASS###" value="###ACTION_VALUE###" title="###ACTION_LABEL###" ###ACTION_PARAMS###/>
<!-- ###EDITPANEL_ACTION### end -->

