<!--
=====================================================================================================
###TEMPLATE### begin
=====================================================================================================
-->
<div style="text-align: center;">
    <a href="###URL###"><img src="###IMAGE###" title="###TITLE_TEXT###" alt="###ALT_TEXT###" border="0"/></a>
</div>

<!-- ###TEMPLATE### end -->
